html {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2vw;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	padding-bottom: 10px;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

@media (min-width: 1050px) {
	html {
		font-size: 21px;
	}
}

@media (max-width: 700px) {
	html {
		font-size: 14px;
	}

	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 17px;
	}
}

/* Home page styling */

.content-container {
	min-height: 55vh;
	width: 100vw;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 12vh;
}

.searchbar {
	height: 2.5rem;
	width: 80%;
	max-width: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.autocomplete-container {
	height: 100%;
	width: 80%;
	position: relative;
}

.searchbar input, .suggestion {
	height: 2.5rem;
	width: 100%;
	padding-left: 2%;
	border: 1px solid #2f2f2f82;
	font: 400 13.333px Arial;
}

.searchbar input:focus {
	outline: #209cee auto 1px;
}

.searchbar input::placeholder {
	transition: color 0.4s linear;
}

.searchbar input:focus::placeholder {
	color: transparent;
}

.suggestion {
	border-top: none;
	z-index: 99;
	top: 100%;
	background-color: white;
	display: flex;
	align-items: center;
}

.suggestion:hover {
	cursor: pointer;
}

.focused {
	background-color: #209cee;
	color: white;
}

.searchbar button {
	height: 2.5rem;
	width: 20%;
	font: inherit;
	font-size: 0.8rem;
	border: none;
	background-color: #209cee;
	color: white;
	border-radius: 0 4px 4px 0;
}

.searchbar button:hover {
	cursor: pointer;
	background-color: #1496ed;
}

.searchbar button:active {
	background-color: #118fe4;
}

/* Results page styling */

.category {
	width: 100%;
	padding: 2% 5%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.category h2 {
	margin-bottom: 10px;
}

.other-keywords {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.other-keyword {
	width: 50%;
	line-height: 1.5rem;
}

@media (max-width: 475px) {
	.other-keywords {
		flex-flow: column nowrap;
	}
	
	.other-keyword {
		width: auto;
	}
}

.tech-container {
	width: 100%;
	min-height: 2rem;
	display: flex;
	align-items: center;
}

.tech-name {
	width: 30%;
}

.graph {
	height: 100%;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.bar {
	height: 1.5rem;
	background-color: red;
}

.tech-count {
	padding-left: 7px;
}