html {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2vw;
	color: #333333;
}

html, body {
	height: auto;
	width: 100%;
	line-height: 1.2rem;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	padding-bottom: 10px;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 10px 0;
}

@media (min-width: 1050px) {
	html {
		font-size: 21px;
	}
}

@media (max-width: 700px) {
	html {
		font-size: 14px;
	}

	h1 {
		font-size: 20px;
	}

	h2 {
		font-size: 17px;
	}
}


/* Home page styling */

.home-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1024px;
	margin: 27vh auto 5vh auto;
	height: 68vh;
}

.main-search {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-search h1 {
	margin-bottom: 100px;
}

.main-search p {
	margin-top: 1rem;
	color: #333333c9;
	width: 80%;
	max-width: 659px;
	text-align: center;
	line-height: 1.2rem;
}

.text {
	background-color: rgb(219, 219, 219);
	width: 80%;
	max-width: 656px;
	text-align: center;
	line-height: 1.5rem;
}

.searchbar {
	height: 2.5rem;
	width: 85%;
	max-width: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.autocomplete-container {
	height: 100%;
	width: 80%;
	position: relative;
}

.searchbar input, .suggestion {
	height: 2.5rem;
	width: 100%;
	padding-left: 2%;
	border: 1px solid #2f2f2f82;
	font: 400 13.333px Arial;
}

.searchbar input:focus {
	outline: #209cee auto 1px;
}

.searchbar input::placeholder {
	transition: color 0.4s linear;
}

.searchbar input:focus::placeholder {
	color: transparent;
}

.suggestion {
	border-top: none;
	z-index: 80;
	top: 100%;
	background-color: white;
	display: flex;
	align-items: center;
}

.suggestion:hover {
	cursor: pointer;
}

.focused {
	background-color: #209cee;
	color: white;
}

.searchbar button {
	height: 2.5rem;
	width: 20%;
	font: inherit;
	font-size: 0.8rem;
	border: none;
	background-color: #209cee;
	color: white;
	border-radius: 0 4px 4px 0;
}

.searchbar button:hover {
	cursor: pointer;
	background-color: #1496ed;
}

.searchbar button:active {
	background-color: #118fe4;
}

.home-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-footer p {
	margin-bottom: 1rem;
}

.logos a {
	padding: 0 5px;
	text-decoration: none;
}

.logos a img {
	height: 10vmin;
	max-height: 64px;
}

.arrow-container {
	background-color: #333333;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 47px;
	width: 47px;
	margin-top: 2vh;
}

.arrow-container:hover {
	background-color: #1f1f1f;
	cursor: pointer;
}

.hero {
	height: 100vh;
	width: 100%;
	background-color: rgb(219, 219, 219);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.arrow-up-wrapper {
	position: absolute;
	top: 103vh;
	width: 100%;
	display: flex;
	justify-content: center;
}

#arrow-up {
	height: 49px;
	width: 49px;
}

#arrow-up img {
	transform: rotate(180deg);
}


/* Loading modal/icon styling */

.loading-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 90;
	visibility: hidden;
}

.loading-icon-container {
	width: 100vmin;
	max-width: 640px;
	height: 100vmin;
	max-height: 640px;
	position: relative;
	margin: 100px auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.loading-icon-container h2 {
	width: 100%;
	text-align: center;
	margin: 15% 0;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 50%;

}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 9%;
  border: 8px solid #209cee;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #209cee transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Results page styling */

.content-container {
	min-height: 55vh;
	width: 100vw;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 12vh;
}

.category {
	width: 100%;
	padding: 2% 5%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.other-keywords {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.other-keyword {
	width: 50%;
	line-height: 1.5rem;
}

@media (max-width: 475px) {
	.other-keywords {
		flex-flow: column nowrap;
	}
	
	.other-keyword {
		width: auto;
	}
}

.tech-container {
	width: 100%;
	min-height: 2rem;
	display: flex;
	align-items: center;
}

.tech-name {
	width: 30%;
}

.graph {
	height: 100%;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.bar {
	height: 1.5rem;
	background-color: red;
}

.tech-count {
	padding-left: 7px;
}
