{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>What Technology Should I Learn?</title>
{% endblock %}


{% block content %}
<div class="content-container">
	<h1>What Technology Should I Learn?</h1>

	<form class="searchbar" method="get" autocomplete="off">
		<div class="autocomplete-container">
			<input type="text" name="search" placeholder="City, State, Country, etc...">
			<input type="hidden" name="formatted">
		</div>
		<button type="submit">Search</button>
	</form>

	<section class="site-info">
		Description of site and methodology.
	</section>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'main/autocomplete.js' %}"></script>
{% endblock %}