{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="{% static 'main/images/favicon.ico' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'main/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
	{% block head %}{% endblock %}
</head>
<body>

{% block content %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>